.home {
    background-color: hsl(0, 0%, 94%);
    color: #1B2430;
    display: flex;
    min-height: 900px;
    width: 100%;
}

@media screen and (max-width : 1300px) {
    .home {
        min-height: 1000px;
    }
}

@media screen and (max-width : 1000px) {
    .home {
        min-height: 1100px;
    }
}

@media screen and (max-width : 900px) {
    .home {
        min-height: 1200px;
    }
}

@media screen and (max-width : 800px) {
    .home {
        min-height: 1300px;
    }
}

@media screen and (max-width : 771px) {
    .home {
        min-height: 1500px;
    }
}

@media screen and (max-width : 450px) {
    .home {
        min-height: 1600px;
    }
}

@media screen and (max-width : 360px) {
    .home {
        min-height: 1900px;
    }
}

@media screen and (max-width : 300px) {
    .home {
        min-height: 2000px;
    }
}

@media screen and (max-width : 280px) {
    .home {
        min-height: 2400px;
    }
}

@media screen and (max-width : 250px) {
    .home {
        min-height: 2600px;
    }
}


.home h1 {
    text-transform: capitalize;
}

.home p {
    font-size: 1rem;
    font-weight: 400;
    margin: 2rem 0 2rem 0;
}

.home button {
    background-color: #1B2430;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 5px 10px;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    right: 2%;
    top: 20%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

@media screen and (max-width : 480px) {
    .home button {
        position: initial;
    }
}

.home button:hover {
    background-color: white;
    color: #1B2430;
    border : 4px solid #1B2430;
}

.home input {
    padding: 9px 20px;
    font-size: 1.2rem;
    font-weight: 700;
    border : none;
    outline: none;
}

.home img {
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
